.container {
  display: flex;
  justify-content: center;
  height: 84px;
  background-color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  max-width: 980px;
  width: 100%;
}

.navbarItem {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: bold;
  color: var(--text-light);
  transition: color .4s ease;
}

.navbarItem:hover {
  color: var(--text);
}
